/*standard classes*/
.iconify{width:16px; height:16px; margin:0px 5px; display:block; float:left; background: url("icons/default.png") no-repeat; display:block}
.iconify_admin{width:16px; height:16px; margin:0px 5px; display:block; float:left; background: url("icons/default_admin.png") no-repeat; display:block}

/*admin panel 
padding is ovewritten by the standard style.css thats why we use the # to define padding
*/
.admin-panel{background: url("icons/admin_config.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-aggregator{background: url("icons/feed-aggregator.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-block{background: url("icons/block.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-blog_api{background: url("icons/feed.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-blog{background: url("icons/feed.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-body{background: url("icons/admin-content.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-book{background: url("icons/book.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-comment{background: url("icons/comment.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-contact{background: url("icons/mail.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-content_management{background: url("icons/admin-content.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-devel{background: url("icons/devel.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-drupal{background: url("icons/drupal.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-filter{background: url("icons/filter.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-forum{background: url("icons/comment.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-imagecache{background: url("icons/image.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-image_attach{background: url("icons/image.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-image_gallery{background: url("icons/image.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-image{background: url("icons/image.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-locale{background: url("icons/local.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-logs{background: url("icons/admin_log.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-menu{background: url("icons/menu.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-mime_mail{background: url("icons/menu.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-node{background: url("icons/page.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-panels{background: url("icons/panels.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-pathauto{background: url("icons/url.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-path{background: url("icons/url.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-poll{background: url("icons/poll.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-profile{background: url("icons/user.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-search{background: url("icons/search.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-simplemenu{background: url("icons/menu.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-simplenews{background: url("icons/mail.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-site_building{background: url("icons/admin_sitebuilding.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-site_configuration{background: url("icons/admin_config.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-statistics{background: url("icons/statistics.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-switchtheme{background: url("icons/theme.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-system{background: url("icons/drupal.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-taxonomy_breadcrumb{background: url("icons/categories.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-taxonomy_image{background: url("icons/categories.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-taxonomy{background: url("icons/categories.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-upload{background: url("icons/folder.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-user_management{background: url("icons/admin_user.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-user{background: url("icons/user.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-views_ui{background: url("icons/views.png") no-repeat 5px 0px; padding:0 0 0 24px;}
#iconify-adminblock-watchdog{background: url("icons/log.png") no-repeat 5px 0px; padding:0 0 0 24px;}
/* admin content*/
#iconify-adminblock-content_access_log_settings{background: url("icons/log.png") no-repeat; display:block}
#iconify-adminblock-content_error_reporting{background: url("icons/log.png") no-repeat; display:block}
#iconify-adminblock-content_query_log{background: url("icons/log.png") no-repeat; display:block}
#iconify-adminblock-content_recent_hits{background: url("icons/log.png") no-repeat; display:block}
#iconify-adminblock-content_recent_log_entries{background: url("icons/log.png") no-repeat; display:block}
#iconify-adminblock-content_status_report{background: url("icons/log.png") no-repeat; display:block}
#iconify-adminblock-content_top_access_denied_errors{background: url("icons/log-403.png") no-repeat; display:block}
#iconify-adminblock-content_top_pages{background: url("icons/log.png") no-repeat; display:block}
#iconify-adminblock-content_top_page_not_found_errors{background: url("icons/log-404.png") no-repeat; display:block}
#iconify-adminblock-content_top_referrers{background: url("icons/log.png") no-repeat; display:block}
#iconify-adminblock-content_top_search_phrases{background: url("icons/log.png") no-repeat; display:block}
#iconify-adminblock-content_top_visitors{background: url("icons/log.png") no-repeat; display:block}
#iconify-adminblock-content_categories{background: url("icons/categories.png") no-repeat; display:block}
#iconify-adminblock-content_comments{background: url("icons/comment.png") no-repeat; display:block}
#iconify-adminblock-content_content{background: url("icons/document.png") no-repeat; display:block}
#iconify-adminblock-content_content_types{background: url("icons/document.png") no-repeat; display:block}
#iconify-adminblock-content_post_settings{background: url("icons/pencil.png") no-repeat; display:block}
#iconify-adminblock-content_rss_publishing{background: url("icons/feed.png") no-repeat; display:block}
#iconify-adminblock-content_access_control{background: url("icons/lock.png") no-repeat; display:block}
#iconify-adminblock-content_access_rules{background: url("icons/lock.png") no-repeat; display:block}
#iconify-adminblock-content_roles{background: url("icons/user.png") no-repeat; display:block}
#iconify-adminblock-content_users{background: url("icons/user.png") no-repeat; display:block}
#iconify-adminblock-content_user_settings{background: url("icons/user.png") no-repeat; display:block}
#iconify-adminblock-content_blocks{background: url("icons/blocks.png") no-repeat; display:block}
#iconify-adminblock-content_menus{background: url("icons/menu.png") no-repeat; display:block}
#iconify-adminblock-content_modules{background: url("icons/modules.png") no-repeat; display:block}
#iconify-adminblock-content_themes{background: url("icons/theme.png") no-repeat; display:block}
#iconify-adminblock-content_administration_theme{background: url("icons/theme.png") no-repeat; display:block}
#iconify-adminblock-content_clean_urls{background: url("icons/url.png") no-repeat; display:block}
#iconify-adminblock-content_date_and_time{background: url("icons/clock.png") no-repeat; display:block}
#iconify-adminblock-content_devel{background: url("icons/devel.png") no-repeat; display:block}
#iconify-adminblock-content_file_system{background: url("icons/folder.png") no-repeat; display:block}
#iconify-adminblock-content_image_toolkit{background: url("icons/image.png") no-repeat; display:block}
#iconify-adminblock-content_input_formats{background: url("icons/filter.png") no-repeat; display:block}
#iconify-adminblock-content_localization{background: url("icons/default.png") no-repeat; display:block}
#iconify-adminblock-content_performance{background: url("icons/modules.png") no-repeat; display:block}
#iconify-adminblock-content_site_information{background: url("icons/information.png") no-repeat; display:block}
#iconify-adminblock-content_site_maintenance{background: url("icons/information.png") no-repeat; display:block}

/*permissions*/
td.module{padding: 0 0 0 25px; background: url("icons/modules.png") no-repeat 5px 4px; height:25px;}

/*user acces*/
#module-block{padding: 0 0 0 25px; background: url("icons/block.png") no-repeat 5px 4px;}
#module-comment{padding: 0 0 0 25px; background: url("icons/comment.png") no-repeat 5px 4px;}
#module-devel{padding: 0 0 0 25px; background: url("icons/devel.png") no-repeat 5px 4px;}
#module-filter{padding: 0 0 0 25px; background: url("icons/filter.png") no-repeat 5px 4px;}
#module-imagecache{padding: 0 0 0 25px; background: url("icons/image.png") no-repeat 5px 4px;}
#module-image{padding: 0 0 0 25px; background: url("icons/image.png") no-repeat 5px 4px;}
#module-locale{}
#module-menu{padding: 0 0 0 25px; background: url("icons/menu.png") no-repeat 5px 4px;}
#module-node{padding: 0 0 0 25px; background: url("icons/document.png") no-repeat 5px 4px;}
#module-pathauto{padding: 0 0 0 25px; background: url("icons/url.png") no-repeat 5px 4px;}
#module-path{padding: 0 0 0 25px; background: url("icons/url.png") no-repeat 5px 4px;}
#module-simplemenu{padding: 0 0 0 25px; background: url("icons/url.png") no-repeat 5px 4px;}
#module-simplenews{padding: 0 0 0 25px; background: url("icons/mail.png") no-repeat 5px 4px;}
#module-switchtheme{padding: 0 0 0 25px; background: url("icons/theme.png") no-repeat 5px 4px;}
#module-system{padding: 0 0 0 25px; background: url("icons/drupal.png") no-repeat 5px 4px;}
#module-taxonomy_image{padding: 0 0 0 25px; background: url("icons/image.png") no-repeat 5px 4px;}
#module-taxonomy{padding: 0 0 0 25px; background: url("icons/categories.png") no-repeat 5px 4px;}
#module-upload{padding: 0 0 0 25px; background: url("icons/folder.png") no-repeat 5px 4px;}
#module-user{padding: 0 0 0 25px; background: url("icons/user.png") no-repeat 5px 4px;}
#module-views_ui{padding: 0 0 0 25px; background: url("icons/views.png") no-repeat 5px 4px;}

/*files*/
#iconify-fieldset_file_attachments{background: url("icons/attachment.png") no-repeat; display:block}
#iconify-fieldset_file_paths{background: url("icons/folder.png") no-repeat; display:block}
#iconify-fieldset_file_system_settings{background: url("icons/file_system_settings.png") no-repeat; display:block}
#iconify-fieldset_file_system{background: url("icons/folder.png") no-repeat; display:block}
#iconify-fieldset_file_uploads{background: url("icons/folder-upload.png") no-repeat; display:block}

/*mail*/
#iconify-fieldset_contact_form{background: url("icons/mail.png") no-repeat; display:block}
#iconify-fieldset_email_settings{background: url("icons/mail.png") no-repeat; display:block}
#iconify-fieldset_mail{background: url("icons/mail.png") no-repeat; display:block}
#iconify-fieldset_newsletters{background: url("icons/mail.png") no-repeat; display:block}
#iconify-fieldset_notification_settings{background: url("icons/mail.png") no-repeat; display:block}
#iconify-fieldset_spam_filters{background: url("icons/mail.png") no-repeat; display:block}
/*date*/
#iconify-fieldset_date_and_time{background: url("icons/clock.png") no-repeat; display:block}
#iconify-fieldset_date_settings{background: url("icons/clock.png") no-repeat; display:block}
/*blocks*/
#iconify-fieldset_access_control{background: url("icons/lock.png") no-repeat; display:block}
#iconify-fieldset_access_rules{background: url("icons/lock.png") no-repeat; display:block}
#iconify-fieldset_blocks{background: url("icons/blocks.png") no-repeat; display:block}
#iconify-fieldset_block_specific_settings{background: url("icons/block.png") no-repeat; display:block}
#iconify-fieldset_block{background: url("icons/block.png") no-repeat; display:block}
#iconify-fieldset_page_specific_visibility_settings{background: url("icons/block.png") no-repeat; display:block}
#iconify-fieldset_profiles{background: url("icons/user.png") no-repeat; display:block}
#iconify-fieldset_roles{background: url("icons/user.png") no-repeat; display:block}
#iconify-fieldset_role_specific_visibility_settings{background: url("icons/block.png") no-repeat; display:block}
#iconify-fieldset_user_specific_visibility_settings{background: url("icons/block.png") no-repeat; display:block}
/*lcalization*/
#iconify-fieldset_customlanguage{background: url("icons/locale.png") no-repeat; display:block}
#iconify-fieldset_export_template{background: url("icons/locale.png") no-repeat; display:block}
#iconify-fieldset_import_translation{background: url("icons/locale.png") no-repeat; display:block}
#iconify-fieldset_language_list{background: url("icons/locale.png") no-repeat; display:block}
#iconify-fieldset_locale_settings{background: url("icons/locale.png") no-repeat; display:block}
#iconify-fieldset_localization{background: url("icons/locale.png") no-repeat; display:block}
#iconify-fieldset_sort_criteria{background: url("icons/sort_criteria.png") no-repeat; display:block}
/*urls & paths*/
#iconify-fieldset_clean_urls{background: url("icons/url.png") no-repeat; display:block}
#iconify-fieldset_pathauto{background: url("icons/url.png") no-repeat; display:block}
#iconify-fieldset_url_aliases{background: url("icons/url.png") no-repeat; display:block}
/*rss*/
#iconify-fieldset_news_aggregator{background: url("icons/feed-aggregator.png") no-repeat; display:block}
#iconify-fieldset_rss_feed_settings{background: url("icons/feed.png") no-repeat; display:block}
#iconify-fieldset_rss_publishing{background: url("icons/feed.png") no-repeat; display:block}
#iconify-fieldset_rss{background: url("icons/feed.png") no-repeat; display:block}
/*comment*/
#iconify-fieldset_comments{background: url("icons/comment.png") no-repeat; display:block}
#iconify-fieldset_comment_settings{background: url("icons/comment.png") no-repeat; display: block;}
#iconify-fieldset_comment{background: url("icons/comment.png") no-repeat; display:block}
#iconify-fieldset_posting_settings{background: url("icons/comment.png") no-repeat; display:block}
#iconify-fieldset_viewing_options{background: url("icons/comment.png") no-repeat; display:block}
/*theme*/
#iconify-fieldset_administration_theme{background: url("icons/theme.png") no-repeat; display:block}
#iconify-fieldset_display_post_information_on{background: url("icons/information.png") no-repeat; display:block}
#iconify-fieldset_logo_image_settings{background: url("icons/drupal.png") no-repeat; display:block}
#iconify-fieldset_shortcut_icon_settings{background: url("icons/information.png") no-repeat; display:block}
#iconify-fieldset_switchtheme_settings{background: url("icons/theme.png") no-repeat; display:block}
#iconify-fieldset_themes{background: url("icons/theme.png") no-repeat; display:block}
#iconify-fieldset_theme_configuration{background: url("icons/theme.png") no-repeat; display: block;}
#iconify-fieldset_toggle_display{background: url("icons/drupal.png") no-repeat; display:block}
/*menu*/
#iconify-fieldset_content_authoring_form_settings{background: url("icons/menu.png") no-repeat; display:block}
#iconify-fieldset_menu-collapsed{background: url("icons/menu-collapsed.png") no-repeat; display:block}
#iconify-fieldset_menu-expanded{background: url("icons/menu-expanded.png") no-repeat; display:block}
#iconify-fieldset_menus{background: url("icons/menu.png") no-repeat; display:block}
#iconify-fieldset_menu_settings{background: url("icons/menu.png") no-repeat;display: block;}
#iconify-fieldset_menu{background: url("icons/menu.png") no-repeat; display:block}
#iconify-fieldset_primary_and_secondary_links_settings{background: url("icons/menu.png") no-repeat; display:block}
/*filters*/
#iconify-fieldset_filters{background: url("icons/filter.png") no-repeat; display:block}
#iconify-fieldset_input_filters{background: url("icons/filter.png") no-repeat; display:block}
#iconify-fieldset_input_formats{background: url("icons/filter.png") no-repeat; display:block}
#iconify-fieldset_input_format{background: url("icons/filter.png") no-repeat; display:block;}
/*search*/
#iconify-fieldset_advanced_search{background: url("icons/search.png") no-repeat; display:block}
#iconify-fieldset_indexing_settings{background: url("icons/indexing_settings.png") no-repeat; display:block}
#iconify-fieldset_indexing_status{background: url("icons/indexing_status.png") no-repeat; display:block}
#iconify-fieldset_indexing_throttle{background: url("icons/indexing_throttle.png") no-repeat; display:block}
#iconify-fieldset_search_content{background: url("icons/search.png") no-repeat; display:block}
#iconify-fieldset_search_settings{background: url("icons/search.png") no-repeat; display:block}
#iconify-fieldset_search_users{background: url("icons/search.png") no-repeat; display:block}
#iconify-fieldset_search{background: url("icons/search.png") no-repeat; display:block}
/*user*/
#iconify-fieldset_account_information{background: url("icons/user.png") no-repeat; display: block;}
#iconify-fieldset_authoring_information{background: url("icons/user.png") no-repeat; display: block;}
#iconify-fieldset_blog_apis{background: url("icons/feed.png") no-repeat; display:block}
#iconify-fieldset_books{background: url("icons/book.png") no-repeat; display:block}
#iconify-fieldset_contact_settings{background: url("icons/contact_settings.png") no-repeat; display:block}
#iconify-fieldset_distributed_authentication{background: url("icons/lock.png") no-repeat; display:block}
#iconify-fieldset_forums{background: url("icons/comment.png") no-repeat; display:block}
#iconify-fieldset_roles{background: url("icons/user.png") no-repeat; display:block}
#iconify-fieldset_show_only_users_where{background: url("icons/user.png") no-repeat; display:block}
#iconify-fieldset_sites_registry{background: url("icons/drupal.png") no-repeat; display:block}
#iconify-fieldset_users{background: url("icons/user.png") no-repeat; display:block}
#iconify-fieldset_user_e-mail_settings{background: url("icons/mail.png") no-repeat; display:block}
#iconify-fieldset_user_registration_settings{background: url("icons/user.png") no-repeat; display:block}
#iconify-fieldset_user_settings{background: url("icons/user.png") no-repeat; display:block}

/*system*/
#iconify-fieldset_applications-system{background: url("icons/devel.png") no-repeat; display:block}
#iconify-fieldset_bandwidth_optimizations{background: url("icons/devel.png") no-repeat; display:block}
#iconify-fieldset_basic_information{background: url("icons/information.png") no-repeat; display:block}
#iconify-fieldset_cache_settings{background: url("icons/cache_settings.png") no-repeat; display:block}
#iconify-fieldset_categories{background: url("icons/categories.png") no-repeat; display:block}
#iconify-fieldset_content_ranking{background: url("icons/content_ranking.png") no-repeat; display:block}
#iconify-fieldset_content_templates{background: url("icons/document.png") no-repeat; display:block}
#iconify-fieldset_content_types{background: url("icons/document.png") no-repeat; display:block}
#iconify-fieldset_content{background: url("icons/document.png") no-repeat; display:block}
#iconify-fieldset_core_-_optional{background: url("icons/drupal.png") no-repeat; display:block}
#iconify-fieldset_core_-_required{background: url("icons/drupal.png") no-repeat; display:block}
#iconify-fieldset_cron_jobs{background: url("icons/cron_jobs.png") no-repeat; display:block}
#iconify-fieldset_development{background: url("icons/devel.png") no-repeat; display:block}
#iconify-fieldset_devel{background: url("icons/devel.png") no-repeat; display:block}
#iconify-fieldset_dialog-error{background: url("icons/dialog-error.png") no-repeat; display:block}
#iconify-fieldset_drupal{background: url("icons/drupal.png") no-repeat; display:block}
#iconify-fieldset_error_handling{background: url("icons/error_handling.png") no-repeat; display:block}
#iconify-fieldset_event{background: url("icons/clock.png") no-repeat; display:block}
#iconify-fieldset_general_settings{background: url("icons/information.png") no-repeat; display:block}
#iconify-fieldset_locale_settings{background: url("icons/clock.png") no-repeat; display:block;}
#iconify-fieldset_interface_language_settings{background: url("icons/clock.png") no-repeat; display:block;}

#iconify-fieldset_mail{background: url("icons/mail.png") no-repeat; display:block}
#iconify-fieldset_modules{background: url("icons/modules.png") no-repeat; display:block}
#iconify-fieldset_other{background: url("icons/modules.png") no-repeat; display:block}
#iconify-fieldset_page_cache{background: url("icons/page_cache.png") no-repeat; display:block}
#iconify-fieldset_page{background: url("icons/document.png") no-repeat; display:block}
#iconify-fieldset_performance{background: url("icons/modules.png") no-repeat; display:block}
#iconify-fieldset_post_authoring_form_settings{background: url("icons/post_authoring_form_settings.png") no-repeat; display:block}
#iconify-fieldset_post_settings{background: url("icons/pencil.png") no-repeat; display:block}
#iconify-fieldset_previews{background: url("icons/document.png") no-repeat; display:block}
#iconify-fieldset_publishing_options{background: url("icons/publishing_options.png") no-repeat; display: block;}
#iconify-fieldset_show_only_items_where{background: url("icons/search.png") no-repeat; display:block}
#iconify-fieldset_site_information{background: url("icons/information.png") no-repeat; display:block}
#iconify-fieldset_site_maintenance{background: url("icons/information.png") no-repeat; display:block}
#iconify-fieldset_string_handling{background: url("icons/string_handling.png") no-repeat; display:block}
#iconify-fieldset_taxonomy_breadcrumb{background: url("icons/categories.png") no-repeat; display:block}
#iconify-fieldset_taxonomy_image{background: url("icons/categories.png") no-repeat; display:block}
#iconify-fieldset_update_options{background: url("icons/update.png") no-repeat; display: block;}
#iconify-fieldset_url_path_settings{background: url("icons/url.png") no-repeat; display:block}
#iconify-fieldset_utilities-system-monitor{background: url("icons/utilities-system-monitor.png") no-repeat; display:block}

/*cck*/
#create_new_field{background: url("icons/cck.png") no-repeat; display:block}
#iconify-fieldset_add_existing_field{background: url("icons/cck.png") no-repeat; display:block; display:block;}
#iconify-fieldset_cck{background: url("icons/cck.png") no-repeat; display:block; display:block;}
#iconify-fieldset_create_new_field{background: url("icons/cck.png") no-repeat; display:block; display:block;}
#iconify-fieldset_display_settings{background: url("icons/cck.png") no-repeat; display:block; display:block;}
#iconify-fieldset_form_settings{background: url("icons/folder.png") no-repeat; display:block; display:block;}
#iconify-fieldset_identification{background: url("icons/cck.png") no-repeat; display:block; display:block;}
#iconify-fieldset_submission_form{background: url("icons/cck.png") no-repeat; display:block; display:block;}
#iconify-fieldset_workflow{background: url("icons/cck.png") no-repeat; display:block; display:block;}
/*panels*/
#iconify-fieldset_add_content {background: url("icons/panels.png") no-repeat; display:block}
#iconify-fieldset_general_information{background: url("icons/information.png") no-repeat; display:block}
#iconify-fieldset_panels {background: url("icons/panels.png") no-repeat; display:block}
/*views*/
#iconify-fieldset_views{background: url("icons/views.png") no-repeat; display:block}	
#iconify-fieldset_header{background: url("icons/view_header.png") no-repeat; display:block}
#iconify-fieldset_footer{background: url("icons/view_footer.png") no-repeat; display:block}
#iconify-fieldset_empty_text{background: url("icons/view_empty_text.png") no-repeat; display:block}
#iconify-fieldset_fields{background: url("icons/views_fields.png") no-repeat; display:block}
#iconify-fieldset_arguments{background: url("icons/help.png") no-repeat; display:block}
#iconify-fieldset_exposed_filters{background: url("icons/filter.png") no-repeat; display:block}

/*update*/
td.project{background: url("icons/applications-system.png") no-repeat 0px 5px; padding:0 0 0 20px;}
#iconify-fieldset_available_updates{background: url("icons/updates.png") no-repeat; display:block}
#iconify-fieldset_simplemenu{background: url("icons/menu.png") no-repeat; display:block}
/*image*/
#iconify-fieldset_attached_images{background: url("icons/image.png") no-repeat; display:block}
#iconify-fieldset_content_images{background: url("icons/image.png") no-repeat; display:block}
#iconify-fieldset_gallery_settings{background: url("icons/image-gallery.png") no-repeat; display:block}
#iconify-fieldset_image_attach{background: url("icons/image.png") no-repeat; display:block}
#iconify-fieldset_image_cache{background: url("icons/image.png") no-repeat; display:block}
#iconify-fieldset_image_galleries{background: url("icons/image-gallery.png") no-repeat; display:block}
#iconify-fieldset_image_gallery{background: url("icons/image-gallery.png") no-repeat; display:block}
#iconify-fieldset_image_import{background: url("icons/image.png") no-repeat; display:block}
#iconify-fieldset_image_sizes{background: url("icons/image.png") no-repeat; display:block}
#iconify-fieldset_image_toolkit{background: url("icons/image.png") no-repeat; display:block}
#iconify-fieldset_image{background: url("icons/image.png") no-repeat; display:block}
#iconify-fieldset_new_preset{background: url("icons/image.png") no-repeat; display:block}
#iconify-fieldset_pictures{background: url("icons/image.png") no-repeat; display:block}
#iconify-fieldset_picture{background: url("icons/image.png") no-repeat; display:block}

/* Status and Error */
div.status {background-image: url('images/dialog-information_i.gif'); background-repeat: no-repeat;  background-position: .5em 50%;}
div.error {background: #fcc url('icons/dialog-error.png') no-repeat 1em 1em; width:70%; padding:1em 1em 1em 32px; margin: 0 auto; no-repeat; display:block}
table.system-status-report tr.error th{background: #fcc url('icons/watchdog-error.png') no-repeat 10px;}
table.system-status-report tr.ok th {background: url('icons/watchdog-ok.png') no-repeat 10px; }
table.system-status-report tr.warning th {background: url('icons/watchdog-warning.png') no-repeat 10px; }
td.region{padding: 0 0 0 25px; background: #ddd url("icons/block.png") no-repeat 5px 4px; height:25px;}

